
*.pbxproj

*.pbxproj

*.xcworkspacedata

*.xccheckout

*.xcscheme

*.plist

*.xcuserstate

*.pbxproj

*.xcworkspacedata

*.xcuserstate

*.xcscheme

*.plist

*.1

*.pbxproj

*.xcworkspacedata

*.xcuserstate

*.xcscheme

*.plist

*.1
